.center{
    margin: 0 auto;
}
.block{
    display: block;
}
.box{
    width: 400px;
    height: 600px;
    border: solid 1px #aaa;
}
.links{
    text-align: center;
}
a{
    display: inline-block;
}
.buttons{
    display:flex;
    justify-content: center;
    width: 80%;
}
a{
    display: block;
    font-size: 30px;
}
.button{
    width: 30%;
    min-width: 150px;
    height: 2.6em;
    font-size: 25px;
}
.margin-all-4{
    margin:4px;
}
.margin-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.yellow{
    background-color: yellow;
    color: black;
}
.selection{
    width: 400px;
    display: flex;
    justify-content: center;
}